<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:allowBackup="true" android:label="研途相伴" android:icon="@drawable/app_icon_default" android:roundIcon="@drawable/app_icon_default" android:theme="@style/Theme.KaoyanFocus">
        <activity android:name=".MainActivity" android:exported="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
        <activity-alias android:name=".DefaultIconAlias" android:targetActivity=".MainActivity" android:enabled="true" android:exported="true" android:icon="@drawable/app_icon_default" android:label="研途相伴">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity-alias>
        <activity-alias android:name=".CinnamorollIconAlias" android:targetActivity=".MainActivity" android:enabled="false" android:exported="true" android:icon="@drawable/app_icon_cinnamoroll" android:label="研途相伴">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity-alias>
        <activity-alias android:name=".StarryIconAlias" android:targetActivity=".MainActivity" android:enabled="false" android:exported="true" android:icon="@drawable/app_icon_starry" android:label="研途相伴">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity-alias>
    </application>
</manifest>
